#best-movie{
    
    background: $background-gradient;
    height: 400px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
    flex-direction: row;
    width: 89%;
    
    &__text{
        float: left;
        flex-direction: column;
        width: 65%;
    }
    &__title{
        font-family: 'ArimaKoshi';
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    &__description{
        height: 180px;
        overflow: scroll;
        scrollbar-color: black grey;
        scrollbar-width: thin;
        border: 1px solid grey;
        padding: 2px 2px 2px 2px ;
        margin-left: 10px;
    }

    &__img{
        float: right;
        width: 25%;
        margin:3% 3% 3% 3%;
        padding-left: 2%;
    }

    &--button{
        position: relative;
        left:45%;
        top: 5%;
    }
}