#footer{

    width: 95%;
    height: 100%;
    margin:2% 2% 2% 2%;
    padding: 1% 1% 1% 1%;

    border: $border;
    box-shadow: black 2px;
    background: $background-gradient;
    text-align : center;
    & a{ 
        color:$text-color;
        &:hover{
            color:lightcyan;
        }
    }
}