#footer{

    height: 100%;

    border: $border;
    box-shadow: black 2px;
    opacity: 90%;
    text-align : center;
    & a{ 
        color:$text-color;
        &:hover{
            color:lightcyan;
        }
    }
}
footer {
    background: $background-gradient;
    font-size: 20px;
    color: $text-color;
    padding: 2% 2% 2% 2%;
    margin: 5% 5% 5% 5%;
  }