.header-main{

    width: 95%;
    height: 100%;
    margin:2% 2% 2% 2%;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: row;

    border: $border;
    box-shadow: black 2px;
    background: $background-gradient;
    
}

.float{
    float: left;
}
.stop_float{
    float:none;
}

.slogan{
    display:flex;
    align-content:space-around;
    align-items: flex-end;
    justify-content: center;
    width: 70%;
    height: 100px;
    font-family: 'ArimaKoshi';
    font-size: medium;
    font-style: italic;
}

nav{
    
    position:absolute;
    right: 2%;
    padding-right: 2%;
    
    & li{
        list-style: none;
        display: inline;
        font-family: 'ArimaKoshi';
        font-size: large;
        text-align: right;
        & a{ 
            color:$text-color;
            &:hover{
                color:lightcyan;
            }
        }
    }
}
