.header-main{
    width: 60%;
    height: 25%;
    margin:auto;
    margin-top: 2%;
    padding-left: 1%;
    padding-bottom: 1%;
    display: block;
    flex-direction: row;
}

.logo-heading{
    border-radius: 10px/20px;
    float: left;
}
