@font-face {
    font-family: "ArimaKoshi";
    src: url('../../public/fonts/Arima/ArimaKoshi-Medium.otf')
}

body{
    background-image: url(../../public/images/fond.jpg);
    color: $text-color;
    font-size: x-large;
    min-width: 455px;

}
section{
    display: flex;
    padding: 2% 2% 2% 2%;
    margin: 5% 5% 5% 5%;
    border: $border;
    box-shadow: black 2px;
    background: $background-gradient;
    opacity: 90%;
}

.section{
    flex-direction: column;
    &__titre{
        position:relative;
        height: 10%;
        font-size: x-large;
        font-family: 'ArimaKoshi';
        text-align:center;
        border: $border;
        margin-bottom: 2%;
    }
}
.item{
    text-align: center;
    width: 300px;
    height: 350px;
}

.button{
    text-align: center;
    font-size:large;
    width: 50px;
    height: 25px;
    background: $background-gradient;
    border-radius: 20% 10%;
    border: 1px solid black;
    box-shadow: grey 2px 2px;
    margin-top: 2%;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
    color: $text-color;

    &:hover{
        transform: scale(1.2);  
        color:lightcyan;      
    }
    & a{
        color: $text-color;
        &:hover{
            color:lightcyan;
        }
    }
}